<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.life_is_well" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Life_is_well"
        tools:targetApi="31" >

        <activity
            android:name="youtube.EachItem"
            android:exported="false" />
        <activity
            android:name=".WorkoutNonBinary"
            android:exported="false"
            android:theme="@style/Theme.Life_is_well_health" />
        <activity
            android:name=".WorkoutFemale"
            android:exported="false"
            android:theme="@style/Theme.Life_is_well_health" />
        <activity
            android:name=".WorkoutMale"
            android:exported="false"
            android:theme="@style/Theme.Life_is_well_health" />
        <activity
            android:name=".WorkoutPage"
            android:exported="false"
            android:theme="@style/Theme.Life_is_well_health" />
        <activity
            android:name=".BMICalc"
            android:exported="false"
            android:theme="@style/Theme.Life_is_well_health" />
        <activity
            android:name=".HealthMacroTracker"
            android:exported="false"
            android:theme="@style/Theme.Life_is_well_health" />
        <activity
            android:name=".SettingsPageMain"
            android:exported="true"
            android:label=".SettingPageMain"
            android:parentActivityName=".MainActivity"
            android:theme="@style/PreferenceTheme" />
        <activity
            android:name=".FinanceAccountPageMain"
            android:exported="false"
            android:theme="@style/Theme.Life_is_well_finance" />
        <activity
            android:name=".MentalPageMain"
            android:exported="false"
            android:theme="@style/Theme.Life_is_well_mental" />
        <activity
            android:name=".MeditationPage"
            android:exported="false"
            android:theme="@style/Theme.Life_is_well_mental" />
        <activity
            android:name=".GratitudeMentalPage"
            android:exported="false"
            android:theme="@style/Theme.Life_is_well_mental" />
        <activity
            android:name=".BreathingExerciseMentalPage"
            android:exported="false"
            android:theme="@style/Theme.Life_is_well_mental" />
        <activity
            android:name=".ToDoMentalPage"
            android:exported="false"
            android:theme="@style/Theme.Life_is_well_mental"/>
        <activity
            android:name=".HealthPageMain"
            android:exported="false"
            android:theme="@style/Theme.Life_is_well_health" />
        <activity
            android:name=".ProfilePageMain"
            android:exported="false" />
        <activity
            android:name=".SuperPerformanceMeditationPage"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false" />
        <activity
            android:name=".LettingGoMeditationPage"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false" />
        <activity android:name=".goalsPages.GoalsPageMain"
            android:exported="true"
            android:label="@string/goals"
            android:parentActivityName=".goalsPages.GoalsPageMain"
            android:theme="@style/GoalPageMain"/>
        <activity android:name=".goalsPages.goalsScreens.GoalTaskPageMain"
            android:exported="true"
            android:label="@string/goals"
            android:parentActivityName=".goalsPages.goalsScreens.GoalTaskPageMain"
            android:theme="@style/GoalPageMain"/>
        <activity
            android:name=".OpenHeartMeditationPage"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false" />
        <activity
            android:name=".DailyMeditationPage"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false" />
        <activity
            android:name=".FinancePageMain"
            android:exported="false"
            android:theme="@style/Theme.Life_is_well_finance" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Life_is_well_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
